{% extends 'base.html' %}
{%block title%}
{{ recipe_object.title }} - Scrumptious Recipes
{%endblock title%}
{%block nav %}
    <div>
        <a href="{% url "edit_recipe" recipe_object.id %}">Edit This Recipe</a>
    </div>
{%endblock nav%}
{%block content%}
<h1>{{ recipe_object.title }}</h1>
            <img src="{{ recipe_object.image}}">
            <div>4.3 stars</div>
            <p>
                {{ recipe_object.description }}
            </p>
            <h2>Ingredients</h2>
            <table>
                <thread>
                    <tr>
                        <th>Amount</th>
                        <th>Food Item</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                        <td>1 cup</td>
                        <td>Green Beans</td>
                    </tr>
                    <tr>
                        <td>Three Ears</td>
                        <td>Fresh Corn</td>
                    </tr>
                    <tr>
                        <td>2 cups</td>
                        <td>Tomatillo Salsa</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Corn tortillas</td>
                    </tr>
                    <tr>
                        <td>0.5 cups</td>
                        <td>Cotija cheese</td>
                    </tr>
                </tbody>
            </table>
            <h2>Steps</h2>
            <ol>
                <li>Blanch the green beans</li>
                <li>Grill the green beans and the ears of corn</li>
                <li>Chop the green beans</li>
                <li>Slice the corn off the cob</li>
                <li>Grill the tortillas</li>
                <li>Assemble the tacos with veggies, salsa, and cheese</li>
            </ol>
{%endblock content%}
