{% extends 'base.html' %}
{%block title%}
Recipe List - Scrumptious Recipes
{%endblock title%}
{% block content %}
<h1>Scrumptious Recipes</h1>
<h2>All the food that's fit to eat</h2>
    <div class="recipe-link-grid">
        {% for item in recipes %}
             <div>
                <h3>
                    <a href="{% url 'show_individual_recipe' item.id %}">{{item.title}}</a>
                </h3>
                <img src={{item.image|default:"https://via.placeholder.com/150"}}>
                <p>Created On: {{ item.created_on|date:"j F Y" }}</p>
                <div>4.3 stars</div>
            </div>
        {% endfor %}
</div>
{% endblock content %}
