{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
    <header>
        <nav>
            <div><a href="{% url 'show_recipe_list' %}">Main Page</a></div>
            <div><a href="{% url 'create_recipe' %}">Contribute a Recipe</a></div>
            {% block nav %}{% endblock nav %}
        </nav>
    </header>
    <main>
        {%block content %}
        {% endblock content %}
    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
    </body>
</html>
